<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<import resource="database-config.xml"/>

	<import resource="i18n-config.xml"/>

	<import resource="cache-config.xml"/>

	<context:component-scan base-package=
									"com.alekseysamoylov.serviceiii.service,
                                    com.alekseysamoylov.serviceiii.repository"
	/>
</beans>